<ion-header  no-border>

  <ion-navbar color="light">
  	<ion-buttons right [hidden]="canBack">
  		<button ion-button menuToggle icon-only clear >
  			<ion-icon class="header_icon" name="menu"></ion-icon>
  		</button>
  	</ion-buttons>

   <div class="logo center">
     <img src="assets/imgs/logo.png">
   </div>

    <ion-buttons left [hidden]="canBack">
  		<button ion-button icon-only clear (click)="open('SearchPage')">
  			<ion-icon class="header_icon" name="search"></ion-icon>
  		</button>
  	</ion-buttons>


  </ion-navbar>

  <div class="hdr center">
    <div style="width: 30%">
      <h3 text-center>من نحن</h3>
    </div>
  	
  </div>

</ion-header>


<ion-content padding>

  <!-- loading spinner -->
  <ion-row justify-content-center class="loading" *ngIf="loading">
    <ion-col col-1>
      <div >
        <ion-spinner color="primary" name="bubbles"></ion-spinner>
      </div>
    </ion-col>
  </ion-row>


  <!-- about section -->

  <div *ngIf="about" [hidden]="loading" class="animated fadeIn">
    <h4>شركة الأمان الطبي للرعاية الصحية  :</h4>
    <p>{{about.body_setting}}</p>
  </div>


  <!-- err section -->
  <p text-center *ngIf="err" [hidden]="loading">
      حدث خطأ ما . يرجى اعادة المحاولة

  </p>



</ion-content>
