<ion-header  no-border>

  <ion-navbar color="light">
  
    <div class="logo center">
	     <img src="assets/imgs/logo.png">
	 </div>

   
  </ion-navbar>

  <div class="hdr center">
   
    <div style="width: 30%">
      <h5 text-center>العروض</h5>
    </div>
    
  </div>

</ion-header>

<ion-content>

	

	<!-- offer details -->
	<ion-row justify-content-center>
		<ion-col col-12 col-sm-12 col-md-8>
			<ion-card *ngIf="offer">
				<img [src]="'http://alaman-alteby.com/files/' + offer.image" />
				<ion-card-content>
					<h2 text-right>{{offer.title}}</h2>
					<p text-wrap text-right>{{offer.body}}</p>
				</ion-card-content>
			</ion-card>
		</ion-col>
	</ion-row>

</ion-content>
