page-center-detail {
	
	.head_container {
		    margin-top: 1rem;

		    .service{
		    	display: block;
    			margin-top: 1.3rem;
		    }

		    .service_content{
		    	padding-right: 0.8rem;
		    }
	}

	.toolbar{
		padding-bottom : 0 !important

	}


	.border{
		border-bottom: 1px solid #ccc !important;
		
	}
}
