<ion-header  no-border>

  <ion-navbar color="light">
  	
  	<div class="logo center">
	     <img src="assets/imgs/logo.png">
	 </div>
 
  </ion-navbar>

  <!-- segment buttons  -->
  <ion-toolbar no-border-top color="primary">
	  <ion-segment [(ngModel)]="segment" mode="md">
	    <ion-segment-button value="info" (ionSelect)="restartMap()">
	     معلومات
	    </ion-segment-button>
	    <ion-segment-button value="prices">
	      أسعار الخدمات
	    </ion-segment-button>

	    <ion-segment-button value="branches">
	      فروعنا
	    </ion-segment-button>

	  </ion-segment>
 </ion-toolbar>

</ion-header>


<ion-content>

	<!-- segment tabs -->
	<div [ngSwitch]="segment">
	 
	 <!-- info section -->
	  <ion-list no-lines *ngSwitchCase="'info'">

	  	<!--clinic detail -->

	  	<div *ngIf="clinic">
	  		<ion-item> 
	      	  <ion-thumbnail item-end>
		       		<img [src]="'http://alaman-alteby.com/files/' + clinic.image">
		       </ion-thumbnail>
		       <h2 class="font-weight-bold" text-right>{{clinic.name}}</h2>
		       <p  text-wrap text-right>{{clinic.body}}</p>
		       <div class="categories">
		       		<ion-badge *ngFor="let tag of tagsToJson(clinic.tages)">
		       			{{tag}}
		       		</ion-badge >
		       </div>
		     
		 	</ion-item>


		  <ion-item>
	        <ion-icon color="primary" item-right name="call" (click)="call(clinic.phone)"></ion-icon>
	        <p text-right>{{clinic.phone}}</p>
	      </ion-item>

	      <ion-item>
	        <ion-icon color="primary"  item-right name="pin"></ion-icon>
	        <p text-right>{{clinic.street}}</p>
	      </ion-item>
	  	</div>
   		
      <!-- map -->

     <ion-card>
     	<div class="map" #map>
      		
      	</div>
     </ion-card>
      	
      	
      
	   
	  </ion-list>

	   <!-- prices section -->

	  <ion-list no-lines *ngSwitchCase="'prices'">
	    
	    <div *ngIf="clinic">

			<ion-toolbar color="primary" no-border class="head_container">

				<ion-title text-center class="text-white font-weight-bold" >
						الخدمة
				</ion-title>
				
			</ion-toolbar>

			<ion-row jusify-content-center>
				<ion-col col-12 col-sm-12 col-md-7  *ngFor="let service of tagsToJson(clinic.sprice)">
					<ion-item text-right text-wrap class="border"> 
						<ion-label>
								{{service}}
						</ion-label>
					</ion-item>
				</ion-col>
			</ion-row>
	    </div>
	   
	  </ion-list>

	   <!-- branches section -->


	  <ion-list no-lines *ngSwitchCase="'branches'">
	    
	    <div *ngIf="clinic">

	    	<ion-card *ngFor="let branch of clinic.branches">
				<ion-item>
					<ion-icon item-right color="primary" name="git-branch"></ion-icon>
					<h4 text-right>
						{{branch.name_branches}}
					</h4>
				</ion-item>

				<ion-item>
					<ion-icon item-right color="primary" name="pin"></ion-icon>
					<p text-right text-wrap>
						{{branch.street}}
					</p>
				</ion-item>

			</ion-card>
	    </div>
	    
	  </ion-list>
</div>
	


</ion-content>
