<ion-header   no-border>

  <ion-navbar color="light">
  	<ion-buttons right [hidden]="canBack">
  		<button ion-button menuToggle icon-only clear>
  			<ion-icon class="header_icon" name="menu"></ion-icon>
  		</button>
  	</ion-buttons>

    <div class="logo center">
	     <img src="assets/imgs/logo.png">
	 </div>
    <ion-buttons left [hidden]="canBack">
  		<button ion-button icon-only clear (click)="open('SearchPage')">
  			<ion-icon class="header_icon" name="search"></ion-icon>
  		</button>
  	</ion-buttons>

  </ion-navbar>


 <div class="hdr center">
    <div style="width: 30%">
      <h5 text-center>تواصل معنا</h5>
    </div>
    
  </div>

</ion-header>

<ion-content>

 
    <!-- contact section -->
    <ion-list no-lines>
      
      <ion-item  text-right>
        <h1 class="font-wight-bold">المركز الرئيسي</h1>
        <h5 class="font-wight-bold">الرياض - طريق الامام عبدالله بن سعود</h5>
      </ion-item>


      <ion-item style="margin-top:3rem" *ngIf="phone" class="animated fadeIn">
         
        <ion-icon color="primary"  item-right name="call"></ion-icon>
        <p text-wrap  text-right>{{phone.body_setting}}</p>
     
      </ion-item>

      <ion-item>
        <ion-icon color="primary"  item-right name="pin"></ion-icon>
        <p text-right>وسط الرياض - حي المعزر - شارع التخصصي</p>
      </ion-item>

      <!-- map -->

      
    <ion-card>
      <div class="map" #map>
          
        </div>
     </ion-card>
     

     <!--social icons -->

      <ion-item text-center>

        <!-- Instagram button -->
       
        <button *ngIf="instagram" class="animated fadeIn" ion-button clear icon-only (click)="browse(instagram.body_setting)">
          <ion-icon  color="primary" name="logo-instagram"></ion-icon>
        </button>

        <!-- Facebook button -->

        <button *ngIf="facebook" class="animated fadeIn" ion-button clear icon-only class="margin-left" (click)="browse(facebook.body_setting)">
        <ion-icon  color="primary" name="logo-facebook"></ion-icon>
        </button>

        <!-- YouTube button -->

        <button *ngIf="youtube" class="animated fadeIn" ion-button clear icon-only class="margin-left" (click)="browse(youtube.body_setting)">
        <ion-icon color="primary" name="logo-youtube"></ion-icon>
        </button>

        <!-- Twitter button -->

        <button *ngIf="twitter" class="animated fadeIn" ion-button clear icon-only class="margin-left" (click)="browse(twitter.body_setting)">
        <ion-icon  color="primary" name="logo-twitter"></ion-icon>
        </button>

        <!-- Whatsapp button -->


        <button *ngIf="whatsapp" class="animated fadeIn" ion-button clear icon-only class="margin-left" (click)="browse(whatsapp.body_setting)">
        <ion-icon  color="primary" name="logo-whatsapp"></ion-icon>
        </button>

        <!-- SnapChat button -->


        <button *ngIf="snapchat" class="animated fadeIn" ion-button clear icon-only class="margin-left" (click)="browse(snapchat.body_setting)">
          <ion-icon  color="primary" name="logo-snapchat"></ion-icon>
        </button>
        
        

      </ion-item>

    </ion-list>
   

</ion-content>
