
<ion-header no-border >

  <ion-navbar color="light">

  	<ion-buttons right>
  		<button ion-button menuToggle icon-only clear >
  			<ion-icon class="header_icon" name="menu"></ion-icon>
  		</button>
  	</ion-buttons>
  	
    <div class="logo center">
	     <img src="assets/imgs/logo.png">
	 </div>

     <ion-buttons left>
  		<button ion-button icon-only clear  (click)="open('SearchPage')">
  			<ion-icon class="header_icon" name="search"></ion-icon>
  		</button>
  	</ion-buttons>



  </ion-navbar>

  
</ion-header>


<ion-content >
	<ion-row align-items-center class="mb mt" >
		<!-- el dalil el tebi -->
		<ion-col col-6  (tap)="open('DalielPage')" >
			<div class="center">
				<img class="animated bounceIn" src="assets/imgs/daliel.png" >
			</div>			
			<h5 text-center>الدليل الطبي</h5>
		</ion-col>

		<!-- About us -->
		<ion-col col-6  (tap)="open('AboutPage')">
			<div class="center">
				<img class="animated bounceIn" src="assets/imgs/about.png" >
			</div>	
			<h5 text-center>من نحن</h5>
		</ion-col>

	</ion-row>


	<ion-row align-items-center  class="mb" >
			<!-- Offers -->
		<ion-col col-6 (tap)="open('OffersPage')">
			<div class="center">
				<img class="animated bounceIn" src="assets/imgs/offers.png" >
			</div>	
			<h5 text-center>العروض</h5>
		</ion-col>


		<!-- Notifications -->
		<ion-col col-6  (tap)="open('NotificationsPage')">
			<div class="center">
				<img class="animated bounceIn" src="assets/imgs/notifications.png" >
			</div>	
			<h5 text-center>التنبيهات</h5>
		</ion-col>

	</ion-row>


	<ion-row align-items-center>
		
			<!-- Contact -->
			<ion-col col-6  (tap)="open('ContactPage')">
				<div class="center">
					<img class="animated bounceIn" src="assets/imgs/contact.png" >
				</div>	
				<h5 text-center>اتصل بنا</h5>
			</ion-col>


			<!-- Card -->
			<ion-col col-6  (tap)="open('CardPage')" >
				<div class="center">
					<img class="animated bounceIn" src="assets/imgs/card.png" >
				</div>	
				<h5 text-center>طلب بطاقة</h5>
			</ion-col>
			
	</ion-row>
</ion-content>
