<ion-header  no-border>

  <ion-navbar color="light">
  	<ion-buttons right [hidden]="canBack">
  		<button ion-button menuToggle icon-only clear>
  			<ion-icon class="header_icon" name="menu"></ion-icon>
  		</button>
  	</ion-buttons>

    <div class="logo center">
	     <img src="assets/imgs/logo.png">
	 </div>

    <ion-buttons left  [hidden]="canBack">
  		<button ion-button icon-only clear (click)="open('SearchPage')">
  			<ion-icon class="header_icon" name="search"></ion-icon>
  		</button>
  	</ion-buttons>


  </ion-navbar>



<div class="holder">
 	<!-- regions slider -->
  <div  *ngIf="regions" class="animated fadeIn segment_container">
	 
	  <ion-slides dir="rtl" class="regions" spaceBetween="1.6" slidesPerView="2.6">

		    <ion-slide  *ngFor="let region of regions;let i = index">
		      <button ion-button clear class="text-white" [class.border_bottom]="i == selectedIndex" (click)="selectRegion(i , region)" >{{region.region_name}}</button>
		    </ion-slide>

     
		</ion-slides>

 </div>

 <!-- regions' filters section -->
 <div *ngIf="cities" class="container animated fadeIn" >

 	<div class="filter" *ngFor="let city of cities">
 		<button ion-button mode="md" color="primary" [clear]="city != selectedCity" (click)="search(city)">
	       {{city.city_name}}
	     </button>

 	</div>
 	
 	
 </div>

</div>

</ion-header>


<ion-content>

	

	<!-- loading spinner -->
	<ion-row justify-content-center class="loading" *ngIf="loading">
		<ion-col col-1>
			<div >
				<ion-spinner color="primary" name="bubbles"></ion-spinner>
			</div>
		</ion-col>
	</ion-row>


	<!-- segment tabs -->
	<div *ngIf="regions">

	  	<div [hidden]="loading">

	  		<div *ngIf="clinics">
	  			 <ion-card *ngFor="let clinic of clinics">
					<ion-item (tap)="openClinic(clinic)"> 
			      	  <ion-thumbnail item-end>
				       		<img [src]="'http://alaman-alteby.com/files/' + clinic.image">
				       </ion-thumbnail>
				       <h2 text-right>{{clinic.name}}</h2>
				       <p  text-right>{{clinic.body}}</p>
				       <div class="categories" text-nowrap>
		                  <ion-badge *ngFor="let tag of tagsToJson(clinic.tages)" style="display: inline-block;">
		                    {{tag}}
		                  </ion-badge>
		               </div>
				     
				 	</ion-item>

				 	<ion-row>

				 		<ion-col col-6>
				     		<button ion-button clear (click)="call(clinic.phone)">
				     			<ion-icon name="call" style="padding-right: 1rem"></ion-icon>
				     			اتصل بنا 
				     		</button>
				     	</ion-col>

				     	<ion-col text-wrap col-6>
				     		
				     		<p style="margin-top: 1rem;" >
				     		<ion-icon name="pin" color="primary" ></ion-icon>
				     			{{clinic.street}}
				     		</p>
				     		
				     	</ion-col>
				     	
				     </ion-row>
				 </ion-card>	   	
			   	
			   	<p text-center *ngIf="clinics.length == 0">لا توجد بيانات أخرى</p>
			  		
	  		</div>

	  	
	  	</div>
	
</div>

<!--infinite scroll -->

<ion-infinite-scroll (ionInfinite)="getMore($event)">
	   <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>
			   	


</ion-content>
