page-daliel {
	.container{
		white-space: nowrap;
		overflow-x: scroll ;
		margin-bottom : 1rem;
		direction: rtl;

		 &::-webkit-scrollbar {
	        width: 0;
	        height: 0;
	        display: none;
	    }

		.filter {
			display: inline-block;
			button {
				font-size : 1.3rem !important;
				font-weight : bold
			}
		}

		
	}

	.card{
		margin-bottom : 1rem; 
	}

	



}
