<ion-header  no-border >

  <ion-navbar color="light">
  	<ion-buttons right [hidden]="canBack">
  		<button ion-button menuToggle icon-only clear>
  			<ion-icon class="header_icon" name="menu"></ion-icon>
  		</button>
  	</ion-buttons>

    <div class="logo center">
	     <img src="assets/imgs/logo.png">
	 </div>

    <ion-buttons  left [hidden]="canBack">
  		<button ion-button icon-only clear (click)="open('SearchPage')">
  			<ion-icon class="header_icon" name="search"></ion-icon>
  		</button>
  	</ion-buttons>


  </ion-navbar>

  <div class="holder">

	 <!-- regions slider -->
	  <div  *ngIf="regions" class="animated fadeIn segment_container">
		 
		  <ion-slides dir="rtl" class="regions" spaceBetween="1.6" slidesPerView="2.6">

			    <ion-slide  *ngFor="let region of regions;let i = index">
			      <button ion-button clear class="text-white" [class.border_bottom]="i == selectedIndex" (click)="selectRegion(i , region)" >{{region.region_name}}</button>
			    </ion-slide>

	     
			</ion-slides>

	 </div>

	 <!-- regions' filters section -->
	 <div *ngIf="cities" class="container animated fadeIn" >

	 	<div class="filter" *ngFor="let city of cities">
	 		<button ion-button mode="md"  color="primary" [clear]="city != selectedCity" (click)="search(city)">
		       {{city.city_name}}
		     </button>
	 	</div>
	 	
	 	
	 </div>
	</div>
</ion-header>


<ion-content>

	<!-- loading spinner -->
	<ion-row justify-content-center class="loading" *ngIf="loading">
		<ion-col col-1>
			<div >
				<ion-spinner color="primary" name="bubbles"></ion-spinner>
			</div>
		</ion-col>
	</ion-row>


	<!--offers section -->

  	<div [hidden]="loading">

  		<div *ngIf="offers">
  			<ion-card *ngFor="let offer of offers" >
				<ion-item (tap)="openOffer(offer)"> 
		      	  <ion-thumbnail item-end>
			       		<img [src]="'http://alaman-alteby.com/files/' + offer.image">
			       </ion-thumbnail>
			       <h2 text-right>{{offer.title}}</h2>
			       <p  text-right>{{offer.body}}</p>
			       
			 	</ion-item>

			 	<ion-row>
			     	
			     	<ion-col>
			     		الي  {{offer.enddate}}
			     	</ion-col>

			     	<ion-col style="direction: rtl;">
			     		من  {{offer.startdate}}
			     	</ion-col>

			     </ion-row>
			 </ion-card>   	
			 <p text-center *ngIf="offers.length == 0">لا توجد بيانات أخرى</p>
  		</div>
  
	</div>


 <!-- infinite scroll -->

	<ion-infinite-scroll (ionInfinite)="getMore($event)">
	   <ion-infinite-scroll-content ></ion-infinite-scroll-content>
	</ion-infinite-scroll>
	
</ion-content>
