
<ion-header  no-border>

  <ion-navbar color="light">
  	<ion-buttons right [hidden]="canBack">
  		<button ion-button menuToggle icon-only clear>
  			<ion-icon class="header_icon" name="menu"></ion-icon>
  		</button>
  	</ion-buttons>

     <div class="logo center">
	     <img src="assets/imgs/logo.png">
	 </div>

    <ion-buttons left  [hidden]="canBack">
  		<button ion-button icon-only clear (click)="open('SearchPage')">
  			<ion-icon class="header_icon" name="search"></ion-icon>
  		</button>
  	</ion-buttons>


  </ion-navbar>

 <div class="hdr center">
    <div style="width: 30%">
      <h5 text-center>طلب بطاقة </h5>
    </div>
  	
  </div>

</ion-header>


<ion-content padding>

	<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
		
		<ion-list no-lines>
			<!--name -->
			<ion-item class="custom_input">
				<ion-label fixed>الاسم</ion-label>
				<ion-input formControlName="name" type="text" required></ion-input>
			</ion-item>

			<ion-item *ngIf="formErrors.name">
				<p class="animated fadeIn text-center error">{{formErrors.name}}</p>
			</ion-item>


			<!--age -->
			<ion-item class="custom_input">
				<ion-label fixed>العمر</ion-label>
				<ion-input formControlName="age" type="text" required></ion-input>
			</ion-item>

			<ion-item *ngIf="formErrors.age" >
				<p class=" animated fadeIn text-center error" >{{formErrors.age}}</p>
			</ion-item>


			<!--nationality -->
			<ion-item class="custom_input">
				<ion-label fixed>الجنسية</ion-label>
				<ion-input  formControlName="nationality" type="text" required></ion-input>
			</ion-item>

			<ion-item *ngIf="formErrors.nationality" >
				<p class="animated fadeIn text-center error">{{formErrors.nationality}}</p>
			</ion-item>



			<!--phone -->
			<ion-item class="custom_input">
				<ion-label fixed>رقم الجوال</ion-label>
				<ion-input  formControlName="phone" type="number" required></ion-input>
			</ion-item>

			<ion-item *ngIf="formErrors.phone" >
				<p class="animated fadeIn text-center error">{{formErrors.phone}}</p>
			</ion-item>




			<!--note -->
			<ion-item class="custom_input">
				<ion-label fixed>ملاحظات</ion-label>
				<ion-textarea rows="6" formControlName="note" type="text"></ion-textarea>
			</ion-item>

			

			<button ion-button block  class="submit" type="submit" [disabled]="!form.valid">
				اطلب بطاقة الان
			</button>
			
		</ion-list>
		
	</form>

</ion-content>
