// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-slide{
	margin-left: 22px;
}
.mb{
	margin-bottom: 3rem
}
.text-white{
	color : white
}

.badge{
	margin-left: 0.5rem
}

.logo{
	img {
		width: 10rem;
   		 height: 5rem;
	}
}

.holder{
	height: 11rem;

	.toolbar{
		padding-bottom : 0 !important

	}

}

.segment{
	
	direction: rtl;
	
	.segment-button{
		color: #fff;	
		font-weight: bold !important;
		display: inline-block!important;
	    min-width: 100px!important;
	    width: auto!important;
	}
	
	
}
.segment-md .segment-button.segment-activated {
		border-color: #fff !important
}



.segment-button{
	overflow: inherit !important;
	line-height: 5rem !important;
    padding-bottom: 5rem !important;
}

.menu-inner{
	box-shadow: rgb(234, 122, 63) 2px -1px 20px !important
}

.ios .menu-content-reveal {
    -webkit-box-shadow: 0 0 10px #fe8545 !important;
    box-shadow: 0 0 10px #fe8545 !important;
}

.item-ios[detail-push] .item-inner, button.item-ios:not([detail-none]) .item-inner, a.item-ios:not([detail-none]) .item-inner {
  background-image: none;
   padding-right: 0; 
  }


.header_icon , .back-button{
	color: #0e0e0e !important;
}

.menu_logo{
	margin: 4rem 0 1rem 0;
    height: 8rem;
    width: 15rem;
}

.menu_icon{
	box-shadow: 0px -3px 0px #fe854578 !important;
}

.font-weight-bold{
	font-weight: bold;
}

.error{
	color: #e41d1d !important;
}

.margin-left{
	margin-left: 1rem;
}

.text-center{
	text-align: center;
}


.map{
		height: 14rem;
		width: 100%;
}


.hdr{
	background-color: #FE8545;
	h3 , h5 {
		border-bottom : 2px solid #fff;
		text-align: center;
		color : white;
		padding-bottom: 0.3rem;

	}
}

.categories{
	direction: rtl;
	h6{
		display: inline-block;
		margin-right: 1rem;
	}
}
.center{
	display: flex;
  flex-direction: row;
  justify-content: center;

}

.card{
	h2{
		font-weight: bold;
	}
	p{
		direction : rtl
	}
}


.loading{
	margin-top: 45%;
}

.categories{
	white-space: nowrap;
	overflow-x : scroll;
	direction: rtl;
}

.regions{
	height : 5rem ;
	background-color : #FE8545
}

.border_bottom{
	border-bottom: 2px solid #fff;
}