<ion-menu [content]="content" side="right" (ionOpen)="getContact()">
  
   
  <ion-content>

    <div class="center">
       <img class="menu_logo" src="assets/imgs/logo.png">
   </div>

    <ion-list no-lines>
      <button class="font-weight-bold" menuClose text-right ion-item *ngFor="let p of pages" (click)="openPage(p)"
        class="font-weight-bold" >
        <ion-avatar item-end>
          <img class="menu_icon" [src]="p.icon">
        </ion-avatar>
        {{p.title}}
      </button>

      <!--contact section-->

      <ion-item *ngIf="phone" class="animated fadeIn">

        <!-- phone number section -->
        <ion-icon color="primary"  item-right name="call"></ion-icon>
        <p text-wrap  text-right>{{phone.body_setting}}</p>
     
      </ion-item>

      <ion-item>
        <ion-icon color="primary"  item-right name="pin"></ion-icon>
        <p text-wrap  text-right>الرياض - طريق الإمام عبدالله بن مسعود</p>
      </ion-item>

      <!--social icons -->

      <ion-item text-center>

        <!-- Instagram button -->
       
        <button *ngIf="instagram" class="animated fadeIn" ion-button clear icon-only (click)="browse(instagram.body_setting)">
          <ion-icon  color="primary" name="logo-instagram"></ion-icon>
        </button>

        <!-- Facebook button -->

        <button *ngIf="facebook" class="animated fadeIn" ion-button clear icon-only class="margin-left" (click)="browse(facebook.body_setting)">
        <ion-icon  color="primary" name="logo-facebook"></ion-icon>
        </button>

        <!-- YouTube button -->

        <button *ngIf="youtube" class="animated fadeIn" ion-button clear icon-only class="margin-left" (click)="browse(youtube.body_setting)">
        <ion-icon color="primary" name="logo-youtube"></ion-icon>
        </button>

        <!-- Twitter button -->

        <button *ngIf="twitter" class="animated fadeIn" ion-button clear icon-only class="margin-left" (click)="browse(twitter.body_setting)">
        <ion-icon  color="primary" name="logo-twitter"></ion-icon>
        </button>

        <!-- Whatsapp button -->


        <button *ngIf="whatsapp" class="animated fadeIn" ion-button clear icon-only class="margin-left" (click)="browse(whatsapp.body_setting)">
        <ion-icon  color="primary" name="logo-whatsapp"></ion-icon>
        </button>

        <!-- SnapChat button -->


        <button *ngIf="snapchat" class="animated fadeIn" ion-button clear icon-only class="margin-left" (click)="browse(snapchat.body_setting)">
          <ion-icon  color="primary" name="logo-snapchat"></ion-icon>
        </button>
        

      </ion-item>
       
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>