
<ion-header  no-border>

  <ion-navbar color="light">
  	<ion-buttons right [hidden]="canBack">
  		<button ion-button menuToggle icon-only clear>
  			<ion-icon class="header_icon" name="menu"></ion-icon>
  		</button>
  	</ion-buttons>

    <div class="logo center">
	     <img src="assets/imgs/logo.png">
	 </div>

    <ion-buttons left [hidden]="canBack">
  		<button ion-button icon-only clear (click)="open('SearchPage')">
  			<ion-icon class="header_icon" name="search"></ion-icon>
  		</button>
  	</ion-buttons>


  </ion-navbar>

  <div class="hdr center">
    <div style="width: 30%">
      <h3 text-center>التنبيهات</h3>
    </div>
  	
  </div>

</ion-header>


<ion-content>

	

	<!-- loading spinner -->
	<ion-row justify-content-center class="loading" [hidden]="notifications">
		<ion-col col-1>
			<div >
				<ion-spinner color="primary" name="bubbles"></ion-spinner>
			</div>
		</ion-col>
	</ion-row>


	<!-- notifications section -->

	<ion-list *ngIf="notifications">
	
		<ion-card *ngFor="let notification of notifications">
			<ion-item>
				<ion-avatar item-end>
					<img [src]="'http://alaman-alteby.com/files/' + notification.image">
				</ion-avatar>
				<p text-wrap text-right class="font-weight-bold">{{notification.text}}</p>
			</ion-item>
		</ion-card>


		
		<p text-center *ngIf="notifications.length == 0">
			لاتوجد بيانات أخرى
		</p>
	</ion-list>


	 <!-- infinite scroll -->

   <ion-infinite-scroll (ionInfinite)="getMore($event)">
	   <ion-infinite-scroll-content ></ion-infinite-scroll-content>
	</ion-infinite-scroll>

</ion-content>
